<!DOCTYPE html>
<html >
<head *ngIf="post">

 <meta property="og:url" content="http://michoacantrespuntocero.com/2018elecciones.com/{{post.slug}}" />
 <meta property="og:title" content="{{post.title.rendered}}" />
 <meta property="og:description" content="{{post.excerpt.rendered}}" />
 <meta property="og:image" content="{{ post.imagen_minsize }}" />
	<title></title>

	<link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body >



   <div class="header">

 
  

  <div class="menu">
 
   <div class="menuIcon" (click)="toggle2()"></div>
 

   <div class="logo-simple" (click)="GoToInicio()">
     <!-- <img src="assets/images/home/oaxacaLogo.png"> -->
     oaxacatrespuntocero.com
   </div>

  <div class="redes-header">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    
    <a href="https://twitter.com/" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="http://instagram.com/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>

</div><!-- redesSociales -->



 <!-- MENU MOVIL ================== -->
<div class="menuMovil">
  
</div><!-- menuMovil -->

<div class="Menu-Activo-Movil" [@heroState2]="stateName2" >

<div class="btn_Close" (click)="toggle2()"></div>


<div class="logo" (click)="GoToInicio()">
  <img src="assets/images/home/oaxacaLogo.png">
</div>


<div class="Bloques" (click)="GoToInicio()">
  Inicio
</div>

<div class="Bloques">
  Noticias
</div>

<div class="Bloques" >
  Glamour
</div>

<div class="Bloques" >
  Internet
</div>

<div class="Bloques" >
  Deportes
</div>

<div class="Bloques">
  Espectáculos
</div>

<div class="Bloques">
  En Oaxaca
</div>




<div class="redesSociales">
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  
  <a href="https://twitter.com/" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>

  <a href="http://instagram.com/" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

  <a href="https://www.youtube.com/" target="_blank">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
  </a>

</div><!-- redesSociales -->


</div><!--Menu-Activo-Movil -->

 

<div style="clear: both;"></div>
</div><!-- menu -->


</div><!-- header -->



<div class="BloqueMainPost" [@fadeInAnimation]="stateName">
<div class="contenidoPost" *ngIf="post">
  
<!-- Imagen del post -->
 
	<div class="Seccion-titulo">
		 
		<div class="BloqueDatos">
          <div class="categoria">{{post.post_categoria}}</div>
			    <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="fecha">{{ post.post_fecha}} | por: <span> {{post.post_author}} </span> </div>
                
		</div><!-- BloqueDatos -->

	<div style="clear: both;"></div>
	</div><!-- Seccion-titulo -->


	<div class="imagenPost">
		<img src="{{ post.imagen_minsize }}" class="img-fluid">
	</div>


 
	 <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.content.rendered)" class="Post_Redered"></div> 
	 <!--<div [innerHTML]="post.content.rendered" class="Post_Redered"></div> -->
 
 
 <div class="CompartirTexto">
 	Compartir:
 </div>
 
 <div class="redesSociales">
<i class="fa fa-facebook-square" aria-hidden="true" ceiboShare  [facebook]="{u: repoUrl}"></i>
<i class="fa fa-twitter-square" aria-hidden="true" ceiboShare  [twitter]="{url:repoUrl, text:TweetTitulo+', más información en el siguiente enlace: '}"></i>
<i class="fa fa-google-plus-square" aria-hidden="true" ceiboShare  [googlePlus]="{url:repoUrl}"></i>
</div>

  




<div *ngIf="!post">
	<img class="img-fluid" src="assets/images/home/loading2.gif">	
</div>

</div>


<!-- NOTAS RELACIONADAS -->
<div class="NotasRelacionadas">
	<div class="SeccionTitulo">Notas Relacionadas</div>

	<div class="BloqueInformacion" *ngFor="let post of posts_related; let i = index; " (click)="selectPost(post.slug)">
		
		<div class="imagen">
			<img src="{{ post.imagen_minsize }}">
		</div><!-- imagen -->


		<div class="informacion">
			<div class="titulo" [innerHTML]="post.title.rendered"></div>
			<div [innerHTML]="post.custom_extracto" class="extracto"></div>

		</div><!-- información -->


	<div style="clear: both;"></div>
	</div><!-- BloqueInformacion -->


<div style="clear: both;"></div>
</div><!-- NotasRelacionadas -->


</div><!-- BLOQUE MAIN POST -->
 

 
</body>
  <link rel="stylesheet" href="assets/css/responsive.css">
</html>



