<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>


<div class="ScrollPost" infiniteScroll 
        [infiniteScrollDistance]="1200"
        [infiniteScrollThrottle]="1200"
        (scrolled)="onScroll()">



  <div class="header">

 
  

  <div class="menu">
 
   <div class="menuIcon" (click)="toggle2()"></div>
 

   <div class="logo-simple" (click)="GoToInicio()">
     <!-- <img src="assets/images/home/oaxacaLogo.png"> -->
     oaxacatrespuntocero.com
   </div>

  <div class="redes-header">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    
    <a href="https://twitter.com/" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="http://instagram.com/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>

</div><!-- redesSociales -->



 <!-- MENU MOVIL ================== -->
<div class="menuMovil">
  
</div><!-- menuMovil -->

<div class="Menu-Activo-Movil flexcroll-Menu" [@heroState2]="stateName2" >

<div class="btn_Close" (click)="toggle2()"></div>


<div class="logo">
  <img src="assets/images/home/oaxacaLogo.png">
</div>


<div class="Bloques" (click)="GoToInicio()">
  Inicio
</div>

<div class="Bloques" (click)="SeleccionMenu('noticias')">
  Noticias
</div>

<div class="Bloques" (click)="SeleccionMenu('glamour')">
  Glamour
</div>

<div class="Bloques" (click)="SeleccionMenu('internet')">
  Internet
</div>

<div class="Bloques" (click)="SeleccionMenu('deportes')">
  Deportes
</div>

<div class="Bloques" (click)="SeleccionMenu('espectaculos')">
  Espectáculos
</div>

<div class="Bloques" (click)="SeleccionMenu('videos')">
  Videos
</div>

<div class="Bloques" (click)="SeleccionMenu('oaxaca')">
  En Oaxaca
</div>

 <div class="Bloques">Quiénes somos</div>

 <div class="Bloques">Directorio</div>

 <div class="Bloques">Publicidad</div>

<div class="redesSociales">
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  
  <a href="https://twitter.com/" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>

  <a href="http://instagram.com/" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

  <a href="https://www.youtube.com/" target="_blank">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
  </a>

</div><!-- redesSociales -->
 

</div><!--Menu-Activo-Movil -->
 

<div style="clear: both;"></div>
</div><!-- menu -->


</div><!-- header -->

  

  <div class="Listado" [@fadeInAnimation]="stateName">

<!-- ==================  SECCION PRINCIPALES ================== -->
   <div class="BloqueSeccionOX">
    <div class="titulo-Secciones titulo-Secciones-full">Publicaciones de: En Oaxaca</div>

     <div class="NoPublicaciones" *ngIf="post_exists_bol"> 
       Por el momento no hay publicaciones para esta categoría, ¡espéralas muy pronto! 
    </div>

    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize-2"  *ngFor="let post of posts; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-2">
            {{ post.title.rendered }}
          </span>
          </div>


      </div><!-- datos -->

    </div><!-- BloqueOX -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->



 
     


 


 


  


 


  </div><!-- Listado -->
</div><!--scrollPost END -->


</body>
<link rel="stylesheet" href="assets/css/responsive.css">
</html>





 