<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>


<div class="ScrollPost">



  <div class="header">

 
  

  <div class="menu">
 
   <div class="menuIcon" (click)="toggle2()"></div>
 

   <div class="logo-simple" (click)="GoToInicio()">
     <!-- <img src="assets/images/home/oaxacaLogo.png"> -->
     oaxacatrespuntocero.com
   </div>

  <div class="redes-header">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    
    <a href="https://twitter.com/" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="http://instagram.com/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>

</div><!-- redesSociales -->



 <!-- MENU MOVIL ================== -->
<div class="menuMovil">
  
</div><!-- menuMovil -->

<div class="Menu-Activo-Movil" [@heroState2]="stateName2" >

<div class="btn_Close" (click)="toggle2()"></div>


<div class="logo">
  <img src="assets/images/home/oaxacaLogo.png">
</div>


<div class="Bloques" (click)="GoToInicio()">
  Inicio
</div>

<div class="Bloques">
  Noticias
</div>

<div class="Bloques">
  Glamour
</div>

<div class="Bloques">
  Internet
</div>

<div class="Bloques">
  Deportes
</div>

<div class="Bloques">
  Espectáculos
</div>

<div class="Bloques">
  En Oaxaca
</div>




<div class="redesSociales">
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  
  <a href="https://twitter.com/" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>

  <a href="http://instagram.com/" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

  <a href="https://www.youtube.com/" target="_blank">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
  </a>

</div><!-- redesSociales -->


</div><!--Menu-Activo-Movil -->

 

<div style="clear: both;"></div>
</div><!-- menu -->


</div><!-- header -->

  

  <div class="Listado" [@fadeInAnimation]="stateName">

<!-- ==================  SECCION PRINCIPALES ================== -->
   <div class="BloqueSeccionOX">
    <div class="titulo-Secciones">Noticias Principales</div>
    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize-{{i+1}}"  *ngFor="let post of posts_principales; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-{{i+1}}">
            {{ post.title.rendered }}
          </span>
          </div>


      </div><!-- datos -->

    </div><!-- BloqueOX -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->



  <!-- ==================  SECCION GLAMOUR ================== -->
   <div class="BloqueSeccionOX">
    <div class="titulo-Secciones">Glamour</div>
    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize_next-1"  *ngFor="let post of posts_glamour; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-{{i+1}}">
            {{ post.title.rendered }}
          </span>
          </div>

      </div><!-- datos -->

    </div><!-- BloqueOX -->


    <div class="BloqueOX_next">
      <div class="subloques"  *ngFor="let post of posts_glamour_next; let i = index; " (click)="selectPost(post.slug)" >
        <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
        <div class="datos_bloques_next">
          

          <div class="titulo">
            <span class="">
            {{ post.title.rendered }}
          </span>
          </div>

      </div><!-- datos -->

      </div><!--Subloques -->
       

    </div><!-- BloqueOX Next -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->


    <!-- ==================  SECCION INTERNET ================== -->
   <div class="BloqueSeccionOX">
    <div class="titulo-Secciones">Internet</div>
    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize_next-1"  *ngFor="let post of posts_internet; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-{{i+1}}">
            {{ post.title.rendered }}
          </span>
          </div>

      </div><!-- datos -->

    </div><!-- BloqueOX -->


    <div class="BloqueOX_next">
      <div class="subloques"  *ngFor="let post of posts_internet_next; let i = index; " (click)="selectPost(post.slug)" >
        <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
        <div class="datos_bloques_next">
          

          <div class="titulo">
            <span class="">
            {{ post.title.rendered }}
          </span>
          </div>

      </div><!-- datos -->

      </div><!--Subloques -->
       

    </div><!-- BloqueOX Next -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->



<!-- ==================  SECCION DEPORTES ================== -->
   <div class="BloqueSeccionOX">

    <div class="titulo-Secciones">Deportes</div>
    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize-2"  *ngFor="let post of posts_deportes; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-{{i+1}}">
            {{ post.title.rendered }}
          </span>
          </div>


      </div><!-- datos -->

    </div><!-- BloqueOX -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->




  <!-- ==================  SECCION ESPECTACULOS ================== -->
   <div class="BloqueSeccionOX">
    <div class="titulo-Secciones">Espectáculos</div>
    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize_next-1"  *ngFor="let post of posts_espectaculos; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-{{i+1}}">
            {{ post.title.rendered }}
          </span>
          </div>

      </div><!-- datos -->

    </div><!-- BloqueOX -->


    <div class="BloqueOX_next">
      <div class="subloques"  *ngFor="let post of posts_espectaculos_next; let i = index; " (click)="selectPost(post.slug)" >
        <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
        <div class="datos_bloques_next">
          

          <div class="titulo">
            <span class="">
            {{ post.title.rendered }}
          </span>
          </div>

      </div><!-- datos -->

      </div><!--Subloques -->
       

    </div><!-- BloqueOX Next -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->


 <!-- ==================  VIDEO SECCION ================== -->
  <div class="video-Seccion">
    
    <div class="titulo-Secciones">Videos</div>
    <div style="clear: both;"></div> 

      <div class="inner">
        <div class="Bloques" *ngFor="let post of posts_videos; let i = index; " (click)="selectPost(post.slug)">
          <div class="playIconVideos"></div>
          <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>

          <div class="informacion">
            {{ post.title.rendered }}
          </div><!-- informacion -->


        </div>
         
         <div style="clear: both;"></div>
      </div><!-- inner -->

     
      <div style="clear: both;"></div> 
 
  </div><!-- video-seccion -->



  <!-- ==================  SECCION EN OAXACA ================== -->
   <div class="BloqueSeccionOX">

    <div class="titulo-Secciones">En Oaxaca</div>
    <div style="clear: both;"></div> 
  
    <div class="BloqueOX BloqueSize-2"  *ngFor="let post of posts_en_oaxaca; let i = index; " (click)="selectPost(post.slug)" >
      <div class="imagen-BG" [style.background-image]="getBackground(post.imagen_normalsize)"></div>
    
      <div class="datos">
         <div class="categoria">
            <span>
              {{post.post_categoria}}
             </span>
          </div>

          <div class="titulo">
            <span class="SizeSpan-{{i+1}}">
            {{ post.title.rendered }}
          </span>
          </div>


      </div><!-- datos -->

    </div><!-- BloqueOX -->

  <div style="clear: both;"></div>
  </div><!-- BloqueSeccionOX -->



  </div><!-- Listado -->
</div><!--scrollPost END -->


</body>
<link rel="stylesheet" href="assets/css/responsive.css">
</html>





 